/* General. */
body{
	font-family: "Verdana";
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Navbar. */
.navbar{
	background: #6C74B2;
}

.navbar .container{
	display: flex;
	justify-content: space-between;
}

.logo{
	padding: 1em 0 1em 1em;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

.mobile-menu{

	width: 1.5em;
	height: auto;
	padding-right: 2em;
}

nav{
	font-weight: bold;
	z-index: 999;
	position: fixed;
	display: none;
	background: #6C74B2;
	width: 100vw;
	height: 100vh;
}

.external-nav ul{
	display: flex;
}

.external-image{
	height: 2em;
	width: auto;
}

.mobile-menu-exit{
	width: 1.5em;
	height: auto;
	padding-right: 2em;
}

nav.mobile-menu-open{
	display: block;
}

nav a{
	color: #F9A2A2;
}

.navbar-separator{
	background: #83C2D0;
	height: .4em;
}