{% extends "base.html" %} {% block title %}About{% endblock %} {% block head %}
<script src="/static/js/about.js" defer></script>
{% endblock %} {% block body_class %}class="about-body"{% endblock %} {% block
about_active %}class="active-page"{% endblock %} {% block content %}
<section class="about-section">
  <div class="container">
    <h2 class="about-stagger">About</h2>

    <div class="about-container">
      <img
        id="about-image"
        class="about-stagger"
        src="/static/images/profile.svg"
      />

      <div id="about-box" class="about-box about-stagger">
        <p id="about-text" class="about-text">
          Mathematics/Computer Science student at the University of Queensland.
          Skilled in Python and SQL. In the future, looking to gain more
          experience in data science and machine learning. Planning to graduate
          in 2024.
        </p>
      </div>
    </div>
    <div id="course-nav-button" class="hero-button about-stagger">
      <p>Courses</p>
  
      <img src="/static/images/hero-arrow.svg" />
    </div>
  </div>
 
</section>

<section class="course-section">
  <div class="container">
    <h2 id="course-section-title" class="course-stagger">Completed Courses</h2>

    <div class="course-group math-courses">
      <h3>Mathematics and Statistics</h3>
      <div class="course-grid">
        <div class="course">
          <span class="course-title">
            Advanced Calculus & Linear Algebra I (MATH1071)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              1. Elementary linear algebra: Vectors, linear independence, scalar
              product. Matrices, simultaneous equations, determinants, Gaussian
              elimination, eigenvalues, eigenvectors, applications. Equation of
              straight line & plane. 2. Introduction to proof-based calculus:
              Fields, sequences, limits, continuity, intermediate and extreme
              value theorems, maxima & minima. 3. Techniques of calculus:
              Series, differentiation, integration, numerical methods, Taylor
              series, L'Hopital's rule. This course differs from MATH1051 by
              treating material in more depth and with greater rigour.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1071"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1071
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Multivariate Calculus & Ordinary Differential Equations (MATH1052)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Vector calculus, arclength, line integrals, applications. Calculus
              of 2 & 3 variables: partial derivatives, conservative fields,
              Taylor series, maxima & minima, non-linear equations. 1st order &
              linear 2nd order differential equations (constant coefficients).
              Applications (dynamical systems etc), numerical methods.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1052"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1052
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Discrete Mathematics (MATH1061) </span>
          <div class="course-description-box">
            <p class="course-description">
              Propositional & predicate logic, valid arguments, methods of
              proof. Elementary set theory. Elementary graph theory. Relations &
              functions. Induction & recursive definitions. Counting methods
              (pigeonhole, inclusion/exclusion). Introductory probability.
              Binary operations, groups, fields. Applications of finite fields.
              Elementary number theory.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1061"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH1061
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Advanced Analysis of Scientific Data (STAT1301)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              This course introduces students to the mathematical and
              computational aspects of statistical modeling. Emphasis is placed
              on a precise understanding of randomness and probability
              distributions, and statistical methods such as estimation,
              hypothesis testing, analysis of variance, regression and linear
              models, logistic regression, categorical data analysis and
              non-parametric methods. The course also covers exploratory data
              analysis, the design of experiments and ethical research, as well
              as the importance of critical thinking and communication in the
              interpretation of results.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=STAT1301"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=STAT1301
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Discrete Mathematics II (MATH2302) </span>
          <div class="course-description-box">
            <p class="course-description">
              This course builds on an introductory discrete mathematics course
              to further develop students understanding of topics including
              enumeration, geometric topology, graph theory, design theory and
              other combinatorial ideas.
              <br />
              <br />
              Course description from course page:
              <a
                href=https://my.uq.edu.au/programs-courses/course.html?course_code=math2302"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=math2302
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Calculus & Linear Algebra II (MATH2001)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Second order differential equations; undetermined coefficients,
              variation of parameters. Multi-dimensional calculus; surface &
              volume integrals, cylindrical, spherical and general coordinate
              transformations. Stoke's & Green's theorems, applications (flux,
              heat equations). Linear algebra, diagonalization, quadratic forms,
              elementary numerical linear algebra. Taylor series, maxima, minima
              and saddle points in N-dimensions. Method of least squares for
              functions. Vector spaces, norms and inner products (for
              square-integrable functions). Gram-Schmidt orthogonalisation and
              orthogonal matrices.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2001"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2001
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Mathematical Analysis (MATH2400) </span>
          <div class="course-description-box">
            <p class="course-description">
              Bounded & monotone sequences. Sequences & series of real
              functions. Intermediate & mean value theorems, iterative
              procedures. Taylor's Theorem & error estimates. Criteria for
              integrability. Vector functions, continuity & differentials.
              Implicit & Inverse Function Theorems & applications.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2400"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2400
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Applied Mathematical Analysis (MATH2100)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              ODE's - Systems: variation of constants, fundamental matrix.
              Laplace transform, transform for systems, transfer function.
              Stability, asymptotic stability; phase-lane analysis. PDE's -
              Fourier series. Wave, heat, Laplace's equations. Simple maximum &
              uniqueness principles. Separation of variables in rectangular &
              polar coordinates.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2100"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=MATH2100
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Numerical Methods in Computational Science (COSC2500) </span>
          <div class="course-description-box">
            <p class="course-description">
              This course provides an introduction to basic numerical methods and computer programming for the solution of a number of classes of scientific problems. The course is interdisciplinary in nature, incorporating a number of case studies in biology, physics, chemistry, and engineering.


              <br />
              <br />
              Course description from course page:
              <a
                href=https://my.uq.edu.au/programs-courses/course.html?course_code=cosc2500"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=cosc2500
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Mathematical Probability (STAT2003)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Probability; random variables; probability distributions; Markov processes; statistical analysis & modelling
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=STAT2003"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=STAT2003
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Statistical Modelling & Analysis (STAT2004)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Statistical inference; parametric models; point estimation; 
              properties of estimators; maximum likelihood (ML) and properties 
              of ML estimators; confidence intervals; hypothesis testing; goodness-of-fit 
              tests; Bayesian inference; ANOVA; linear and logistic regression.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=stat2004"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=stat2004
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Science Industry Placement (SCIE3050) </span>
          <div class="course-description-box">
            <p class="course-description">
              The Science Industry Placement course enables students to acquire practical skills and experience in an authentic work environment. Through the completion of 120 hours of placement in a science-related workplace, students will gain an understanding of the real world application of their learning. They will also learn about the nature of careers in science, identify possible career pathways, and reflect on their own professional skills and personal development.

              <br />
              <br />
              Course description from course page:
              <a
                href=https://my.uq.edu.au/programs-courses/course.html?course_code=SCIE3050"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=SCIE3050
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Operations Research & Mathematical Planning (MATH3202) </span>
          <div class="course-description-box">
            <p class="course-description">
              Techniques and applications of optimisation in operations research, including linear programming, integer programming, dynamic programming and meta-heuristics. Use of Python and the Gurobi optimisation package for linear and integer programming.

              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH3202"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=MATH3202
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Further Topics in Operations Research (MATH3205) </span>
          <div class="course-description-box">
            <p class="course-description">
              This course will work with recent papers from the literature to build on and extend the tools and concepts introduced in MATH3202. Topics will be drawn from large scale linear and integer programming, Benders decomposition, Dantzig-Wolfe decomposition, advanced dynamic programming techniques and stochastic optimisation methods.

              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=MATH3205"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=MATH3205
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="course-group computer-courses">
      <h3>Computer Science and Software Engineering</h3>
      <div class="course-grid">
        <div class="course">
          <span class="course-title">
            Introduction to Information Systems (INFS1200)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Information systems analysis, design and implementation,
              relational database technology, data modelling, data querying
              using SQL, building a small scale information systems using a
              relational database management system.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=INFS1200"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=INFS1200
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Introduction to Web Design (DECO1400)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              This course introduces the student to design and development
              practices for multimedia content, focusing particularly on web
              sites. Modern design practices for the web are taught, framed by
              an introduction to human-centred design techniques, particularly
              heuristic based interface design guidelines for web interfaces and
              web accessibility from a global perspective. Today's web sites
              need to be both well designed and dynamic, thus the course also
              introduces some basic scripting techniques for going beyond static
              content. The focus of learning is activity based and incorporates
              both individual and team based exercises.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=DECO1400"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=DECO1400
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Introduction to Software Engineering (CSSE1001)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Introduction to Software Engineering through programming with
              particular focus on the fundamentals of computing & programming,
              using an exploratory problem-based approach. Building abstractions
              with procedures, data & objects; data modelling; designing, coding
              & debugging programs of increasing complexity
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=csse1001"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=csse1001
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Programming in the Large (CSSE2002)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Working on large and complex software systems and ensuring those
              systems remain maintainable requires disciplined, individual
              practices. Software must be well-specified, well-implemented and
              well-tested. This course covers concepts and techniques in modern
              programming languages that help support good practice (such as OO
              concepts, genericity and exception handling) with specific
              application to file IO and GUIs in Java.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=CSSE2002"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=CSSE2002
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title">
            Introduction to Computer Systems (CSSE2010)
          </span>
          <div class="course-description-box">
            <p class="course-description">
              Introduction to digital logic & digital systems; machine level
              representation of data; computer organization; memory system
              organization & architecture; interfacing & communication;
              microcontroller architecture and usage; programming of
              microcontroller based systems.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=csse2010"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=csse2010
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Theory of Computing (COMP2048) </span>
          <div class="course-description-box">
            <p class="course-description">
              The concept of computation is one of the central ideas in computer
              science. In this course, we will explore why the current
              generation of computing hardware is designed the way it is and
              show that computation is possible outside the natural realm of
              computers we have today. The course will introduce the grand
              unified theory of computation based on Turing machines, recursive
              functions, Lambda calculus and cellular automation. It will
              present the Church-Turing thesis to show that all these models are
              all equivalent. The theory of computation based on Turing machines
              will also include an introduction to finite state machines and
              their role in constructing regular languages. The course will also
              briefly introduce quantum computation and its applications. The
              necessary mathematical preliminaries in will be covered during the
              course.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=COMP2048"
                target="_blank"
              >
                https://my.uq.edu.au/programs-courses/course.html?course_code=COMP2048
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Algorithms and Data Structures (COMP3506) </span>
          <div class="course-description-box">
            <p class="course-description">
              Data structures & types, mapping of abstract information structures into representations on primary & secondary storage. Analysis of time & space complexity of algorithms. Sequences. Lists. Stacks. Queues. Sets, multisets, tables. Trees. Sorting. Hash tables. Priority queues. Graphs. String algorithms.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=COMP3506  "
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=COMP3506
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Machine Learning (COMP4702) </span>
          <div class="course-description-box">
            <p class="course-description">
              Machine learning is a branch of artificial intelligence concerned with the development & application of adaptive algorithms that use example data or previous experience to solve a given problem. Topics include: learning problems (e.g regression, classification, unsupervised, reinforcement) & theory, neural networks, statistical & probabilistic models, clustering, ensembles, implementation issues, applications (e.g. bioinformatics, cognitive science, forecasting, robotics, signal & image processing).
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=COMP4702"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=COMP4702
              </a>
            </p>
          </div>
        </div>

        <div class="course">
          <span class="course-title"> Artificial Intelligence (COMP3702) </span>
          <div class="course-description-box">
            <p class="course-description">
              Methods and techniques within the field of artificial intelligence, including topics on search, reasoning and planning with certainty, decision-making under uncertainty, learning to act and reasoning about other agents. Specific emphasis on the practical utility of algorithms and their implementation in software.
              <br />
              <br />
              Course description from course page:
              <a
                href="https://my.uq.edu.au/programs-courses/course.html?course_code=comp3702"
                target="_blank"
              >
              https://my.uq.edu.au/programs-courses/course.html?course_code=comp3702
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>
{% endblock %}
