{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body_class %}class="about-body"{% endblock %}
{% block about_active %}class="active-page"{% endblock %}

{% block content %}
	<section class="about-section">
		<div class="container">
			<h2>About</h2>

			<div class="about-box">
				<p class="about-text">
					Mathematics/Computer Science student at the University of Queensland. Experienced in retail sales and transitioning into software development. Skilled in Python and currently expanding knowledge frontend developer skills such as HTML, CSS and JavaScript. In the future looking to gain more experience in data science and machine learning.
				</p>
			</div>
		</div>
	</section>
{% endblock %}