{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}

{% block ContactMeActive %}active{% endblock %}

{% block content %}
<section class="contact-section">
	<div class="contact">
		<h2>Contact Me</h2>

		<form action="">
			<label for="name">Name</label>
			<input type="text" id="name" name="name">

			<label for="email">Email</label>
			<input type="email" id="email" name="email">

			<label for="message">Message</label>
			<textarea name="message" id="message" cols="30" rows="10"></textarea>

			<input type="submit" class="send-message-cta" value="Send Message">
		</form>
	</div>
</section>

{% endblock %}