{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %}
<script src="/static/js/projectBoxElement.js" defer></script>
<script src="/static/js/homepage.js" defer></script>
{% endblock %} {% block body_class %}class="home-body"{% endblock %} {% block
home_active %}class="active-page"{% endblock %} {% block content %}
<!-- Hero -->
<section class="hero-section">
  <div id="hero-container" class="container">
    <div class="left-col stagger1">
      <h1>Efficient and Maintainable Software Solutions</h1>

      <div id="hero-button-desktop" class="hero-button stagger1">
        <p>Find Out More</p>

        <img src="/static/images/hero-arrow.svg" />
      </div>
    </div>

    <img class="hero-image" src="/static/images/calculator.PNG" />

    <div id="hero-button" class="hero-button stagger1">
      <p>Find Out More</p>

      <img src="/static/images/hero-arrow.svg" />
    </div>
  </div>
</section>

<!-- Projects -->
<template id="project-template">
  <link rel="stylesheet" href="/static/css/main.css" />
  <div class="project">
    <h3><slot name="heading"></slot></h3>
    <p>
      <slot name="desc"></slot>
    </p>

    <div class="project-buttons-box">
      <ul>
        <li>
          <a id="code-anchor" target="blank" rel="noopener noreferrer"
            >View Code</a
          >
        </li>
        <li class="view-project-button">
          <a id="project-anchor" target="blank" rel="noopener noreferrer"
            >View Project</a
          >
        </li>
      </ul>
    </div>

    <img id="project-img" />
  </div>
</template>

<section class="projects-section">
  <div class="container">
    <h2 id="projects-title">Projects</h2>

    <div class="project-grid">
      <ul>
        <!-- Game Gabbler project -->
        <li>
          <project-box-element
            code-href="https://github.com/MitchellJC/game-rec-app"
            img-src="static/images/game-rec.png"
            project-button-class="disabled-button"
          >
            <span slot="heading">Game Gabbler</span>
            <span slot="desc">
              Video game recommender web app. Created using Python (Flask,
              Numpy, Numba) and Docker and hosted by Heroku.
              <br /><br />
              <b> (Website currently down to save on running costs.) </b>
            </span>
          </project-box-element>
        </li>

        <!-- Sitting Desktop Garden -->
        <li>
          <project-box-element
            code-href="https://github.com/LimaoC/sitting-desktop-garden/tree/main/client/models"
            project-href="https://github.com/LimaoC/sitting-desktop-garden/tree/main"
            img-src="static/images/sdg-thumbnail.png"
            project-button-class="invisible-button"
          >
            <span slot="heading">Sitting Desktop Garden</span>
            <span slot="desc">
              Prototype of a posture-tracking desk companion. Applies computer
              vision for face detection login and posture tracking. Plant
              "grows" (rises) when posture is good for a period of time. Plant
              "wilts" (descends) when posture is bad for a period of time. A
              connected mousepad gently vibrates when posture is first
              recognised as bad. Digital screen shows plot of historical posture
              data and assists with other user interaction such as logging in.
              Controlled by a Raspberry Pi and implemented using Python, SQLite,
              MediaPipe Pose, Dlib and PiicoDev.
              <br /><br />
              Personal contributions include a module for connecting to SQLite
              database to store posture data, asynchronous system for posture
              tracking with Google's MediaPipe API and applied face detection
              for login via saved embeddings using Dlib's Histogram of Oriented
              Gradients (HOG) model.
            </span>
          </project-box-element>
        </li>

        <!-- Detecting Malignant Lesions using Triplet Loss  -->
        <li>
          <project-box-element
            code-href="https://github.com/MitchellJC/PatternAnalysis-2024/tree/topic-recognition/recognition/47034073_siamese"
            project-href="https://github.com/MitchellJC/PatternAnalysis-2024/tree/topic-recognition/recognition/47034073_siamese"
            img-src="static/images/train_tsne.png"
            project-button-class="invisible-button"
          >
            <span slot="heading"
              >Detecting Malignant Lesions using Triplet Loss</span
            >
            <span slot="desc">
              Metric learning to separate malignant and benign lesions in
              embedding space using triplet loss.
            </span>
          </project-box-element>
        </li>

        <!-- Super Resolution For Satellite Imagery project -->
        <li>
          <project-box-element
            code-href="https://github.com/LimaoC/super-resolution-for-satellite-imagery"
            project-href="https://github.com/LimaoC/super-resolution-for-satellite-imagery/blob/main/notebooks/srgan/prototype-srgan.pdf"
            img-src="static/images/super-res-thumbnail.png"
          >
            <span slot="heading">Super Resolution for Satellite Imagery</span>
            <span slot="desc">
              Application of Super Resolution Generative Adversarial Network
              (SRGAN) to upscale satellite images using low-resolution images
              from Sentinel-2 satellite and high-resolution images from Venμs
              satellite.
            </span>
          </project-box-element>
        </li>

        <!-- Mighty Mini Golf -->
        <li>
          <project-box-element
            code-href="https://github.com/MitchellJC/mightyMiniGolf"
            project-href="https://mitchelljc.github.io/mightyMiniGolf/html/index.html"
            img-src="/static/images/MMM-screenshot.PNG"
          >
            <span slot="heading">Mighty Mini Golf</span>
            <span slot="desc">
              Booking and contact website frontend for mini golf company.
            </span>
          </project-box-element>
        </li>

        <!-- Portfolio website -->
        <li>
          <project-box-element
            code-href="https://github.com/MitchellJC/PersonalWebsite"
            project-href="/"
            img-src="/static/images/navbar-screenshot.png"
          >
            <span slot="heading">Personal Website</span>
            <span slot="desc">
              Responsive personal website made in Python (Flask), HTML,
              JavaScript and CSS. Designed to support screen sizes from 320px
              wide.
            </span>
          </project-box-element>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
