{% extends "base.html" %} {% block title %}Resume{% endblock %} {% block
body_class %}class="resume-body"{% endblock %} {% block resume_active
%}class="active-page"{% endblock %} {% block content %}
<section class="resume-section">
  <div class="container">
    <object
      class="resume-embed"
      data="https://drive.google.com/file/d/1bia4fhIpCW2MLqELvf1ofmnP0aojHlA5/preview"
    >
      <p>
        It appears something has gone wrong with your pdf viewer. Please try the
        following options to view my resume.
      </p>

      <a href="/static/pdf/resume.pdf" target="blank">Open PDF in new tab</a>
      <a href="/static/pdf/resume.pdf" target="blank" download>Download PDF</a>
    </object>
  </div>
</section>
{% endblock %}
